<ng-content></ng-content>
<div class="cat hidden sm:block">
    <ul class="d-flex flex-wrap list-unstyled">
        <li (click)="selectCategory('All')"
            [class.selected]="selectedCategory === 'All'"
            class="rounded-pill text-center m-1 py-1 px-3">
            <a>All</a>
        </li>
        @if (categories) {
        @for (cat of categories; track $index) {
        <li (click)="selectCategory(cat.strCategory)"
            [class.selected]="selectedCategory === cat.strCategory"
            class="rounded-pill text-center m-1 py-1 px-3">
            <a>{{ cat.strCategory }}</a>
        </li>
        }
        }
    </ul>
</div>

<div class="sm:hidden mt-8 ">
    <select name="categories" id="cat" (change)="onSelectChange($event)">
        <option [value]="'All'"
            [selected]="selectedCategory === 'All'">All</option>
        @if (categories) {
        @for (cat of categories; track $index) {
        <option [value]="cat.strCategory"
            [selected]="selectedCategory === cat.strCategory">
            {{ cat.strCategory }}
        </option>
        }
        }
    </select>
</div>