<div class="meal-details ">
    @if (loading) {
    <div class="loader flex justify-center items-center min-vh-100 ">
        <div class="spinner-border text-orange-400" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>

    } @else if (mealDetails && !mealNotFound) {
    <div class="container d-flex flex-column justify-content-center py-5 px-4">
        <div
            class="meal-header d-flex flex-column align-items-center mb-5 mb-md-4 ">
            <h1 class="head">{{mealDetails.strMeal}}</h1>
            <img [src]="mealDetails.strMealThumb" [alt]="mealDetails.strMeal">
            <div class="links my-3">
                <a class="youtube rounded-pill mx-3"
                    href="{{mealDetails.strYoutube}}"
                    target="_blank">Youtube</a>
                <a class="source rounded-pill" href="{{mealDetails.strSource}}"
                    target="_blank">Source</a>
            </div>
        </div>

        <div class=" row align-items-start">
            <div class="meal-instructions col-md-6 ">
                <h2>Instructions</h2>
                <p>{{ mealDetails.strInstructions}}</p>
            </div>
            <div class="meal-ingredients col-md-6">
                <h2>Ingredients</h2>
                <div class="d-flex justify-content-between">
                    <table class="table table-striped bg-white">
                        @for (item of ingredientsAndMeasures; track $index) {
                        @if ($index%2==0 ) {
                        <tr>
                            <td class="p-1 ">{{item.ingredient}}</td>
                            <td class="p-1 ">{{item.measure}}</td>

                        </tr>
                        }
                        @else {
                        <tr class="bg-orange-400">
                            <td class="p-1 ">{{item.ingredient}}</td>
                            <td class="p-1 ">{{item.measure}}</td>

                        </tr>
                        }
                        }

                    </table>
                </div>

            </div>
        </div>

    </div>

    }
    @else if (mealNotFound) {
        <app-notfound/>
    }
</div>