.menu li {
  border-radius: 15px;
  transition: all 0.3s ease-out;
}

.menu li:first-child {
  background-color: #f29724;
}
.menu li:nth-child(2),
.menu li:nth-child(3) {
  border: 1px solid #000;
  a{
    color: #000;
  }
}
.menu li a {

  font-size: 24px;
  text-decoration: none;
  color: #fff;
}
.menu li:hover {
  transform: scale(1.1);
}
