@font-face {
  font-family: "header";
  src: url(/Fonts/Pacifico-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}
.home {
  // width: 100%;
  background-color: #f4f2ee;
  font-family: Roboto, "Open Sans", "Helvetica Neue", sans-serif;
}
header {
  font-family: "header";
  background: linear-gradient(to right, #f29724, #ff0004);
  background-clip: text;
  color: transparent;
}
section ul li .inner {
  position: relative;
  min-height: 310px;
  transition: all 0.3s ease-out;
  img {
    position: absolute;
    top: -20%;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    transition: transform 0.5s;
  }
  h2 {
    font-size: 1.1rem;
    font-weight: 700;
    color: #f29724;
  }
  &:hover img {
    transform: rotate(360deg);
  }
  &:hover {
    transform: scale(1.1);
  }
  a {
    background-color: #f29724;
    transition: all 0.3s ease-out;
    cursor: pointer;
    &:hover {
      background-color: #000;
      color: #f29724 !important;
    }
  }
  p {
    font-size: 0.9rem;
    font-weight: 400;
  }
}
.notAll {
  min-height: 250px !important;
}

$breakpoint-tablet: 640px;
@media (max-width: $breakpoint-tablet) {
  section ul li {
    padding: 0 20px;
    .inner {
      h2 {
        font-size: 1.3rem;
      }
      p {
        font-size: 0.9rem;
      }
      a {
        padding: 5px 20px !important;
        font-size: 1.1rem;
      }
    }
  }
  header {
    text-align: center;
    margin-top: 10px;
    h1 {
      font-size: 2rem;
    }
  }
}
